.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #f3f3f3; /* Change this to the desired background color */
}

.loading img {
  animation: scale 2s infinite; /* Apply the animation */
  max-width: 100px; /* Change this to control the size of the image */
}

/* Define the animation */
@keyframes scale {
  0% { transform: scale(1); } /* Start at normal size */
  50% { transform: scale(1.5); } /* Grow to 1.5 times the original size at the halfway point */
  100% { transform: scale(1); } /* Return to normal size */
}