.mainlogo {
    padding-left: 10%;
    width: 100%; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
}

.navDiv {
    display: flex;
    justify-content: space-between;
    padding: 8px; /* Add some padding */
    position: sticky;
    top: 0; /* This will make it stick to the top of the page */
    z-index: 100; /* This will ensure it stays on top of other content */
}

.navLinks {
    padding-right: 6%;
    display: flex;
    justify-content: flex-end;
    font-size: 110%;
    align-items: center;
    gap: 30px; /* Add some space between the links */
    cursor: pointer;
}

.navLinks a {
    color: #fff; /* Change link color */
    text-decoration: none; /* Remove underline */
    font-size: 18px; /* Increase font size */
}

.navLinks a:hover {
    color: #ddd; /* Change link color on hover */
}




